In [1]:
import pandas as pd

### ciudades

In [119]:
ciudades = pd.read_csv("../data/diccionarios/ciudades.csv")
# ciudades.ciudades.replace({"Cuautla de Morelos":"Cuautla", "Puebla de Zaragoza":"Heroica Puebla de Zaragoza",
#                          "Culiacán":"Culiacán Rosales", "Durango":"Victoria de Durango", 
#                          "León":"León de los Aldama", "Acapulco":"Acapulco de Juárez"},inplace=True)
ciudades.head()

            estado          ciudades
0   Aguascalientes    Aguascalientes
1  Baja California           Tijuana
2  Baja California          Mexicali
3          Chiapas  Tuxtla Gutiérrez
4        Chihuahua     Ciudad Juárez

### Localidades

In [27]:
localidades = pd.read_csv("../data/diccionarios/localidades_inegi.csv")

/home/enrique/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13,15,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
localidades.head()

,Mapa,Cve_Ent,Nom_Ent,Nom_Abr,Cve_Mun,Nom_Mun,Cve_Loc,Nom_Loc,Ámbito,Latitud,Longitud,Lat_Decimal,Lon_Decimal,Altitud,Cve_Carta,Pob_Total,Pob_Masculina,Pob_Femenina,Total De Viviendas Habitadas
0,10010001,1,Aguascalientes,Ags.,1,Aguascalientes,1,Aguascalientes,U,"21°52´47.362N""","102°17´45.768W""",21.879823,-102.296047,1878,F13D19,863893,419168,444725,246259
1,10010094,1,Aguascalientes,Ags.,1,Aguascalientes,94,Granja Adelita,R,"21°52´18.749N""","102°22´24.710W""",21.871875,-102.373531,1902,F13D18,5,*,*,2
2,10010096,1,Aguascalientes,Ags.,1,Aguascalientes,96,Agua Azul,R,"21°53´01.522N""","102°21´25.639W""",21.883756,-102.357122,1861,F13D18,41,24,17,12
3,10010100,1,Aguascalientes,Ags.,1,Aguascalientes,100,Rancho Alegre,R,"21°51´16.556N""","102°22´21.884W""",21.854599,-102.372746,1879,F13D18,0,0,0,0
4,10010102,1,Aguascalientes,Ags.,1,Aguascalientes,102,Los Arbolitos [Rancho],R,"21°46´48.650N""","102°21´26.261W""",21.780181,-102.357295,1861,F13D18,8,*,*,2

In [52]:
sum(localidades.Mapa==111629)

0

In [31]:
localidades_unique = localidades.Nom_Loc.unique()

In [69]:
localidades.shape

(300684, 19)

In [82]:
k=0
for i in ciudades.ciudades:
    if not(i in localidades_unique):
        print(i)
        k+=1
print(k)

Ciudad de México
1

In [38]:
sum(localidades_unique=="Cuautla")

1

In [39]:
sum(localidades_unique=="Puebla")

1

In [49]:
sum(localidades_unique=="Culiacán Rosales")

1

In [ ]:
localidades[localidades.Nom_Ent=="Ciudad de México"].

In [61]:
localidades[localidades.Nom_Ent=="Ciudad de México"]

array(['U', 'R'], dtype=object)

In [105]:
mexico = localidades[(localidades.Nom_Ent=="Ciudad de México") & (localidades["Ámbito"]=="U")]

In [109]:
mexico["Pob_Total"] = pd.to_numeric(mexico["Pob_Total"])

/home/enrique/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [115]:
mexico_city = mexico.sort_values("Pob_Total", ascending=False).head(7).Nom_Loc.unique()

### Hotel

In [136]:
hotel = pd.read_csv("../data/raw/hotel_restaurante/conjunto_de_datos/denue_inegi_71_.csv", encoding="latin-1")
hotel2 = pd.read_csv("../data/raw/restaurante/conjunto_de_datos/denue_inegi_72_2.csv", encoding="latin-1")

/home/enrique/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [138]:
hotel = pd.concat([hotel, hotel2])

In [139]:
hotel.columns

Index(['id', 'nom_estab', 'raz_social', 'codigo_act', 'nombre_act', 'per_ocu',
       'tipo_vial', 'nom_vial', 'tipo_v_e_1', 'nom_v_e_1', 'tipo_v_e_2',
       'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'numero_ext', 'letra_ext',
       'edificio', 'edificio_e', 'numero_int', 'letra_int', 'tipo_asent',
       'nomb_asent', 'tipoCenCom', 'nom_CenCom', 'num_local', 'cod_postal',
       'cve_ent', 'entidad', 'cve_mun', 'municipio', 'cve_loc', 'localidad',
       'ageb', 'manzana', 'telefono', 'correoelec', 'www', 'tipoUniEco',
       'latitud', 'longitud', 'fecha_alta'],
      dtype='object')

In [140]:
hotel.localidad.replace({"Cuautla": "Cuautla de Morelos", "Heroica Puebla de Zaragoza":"Puebla de Zaragoza",
                        "Culiacán Rosales":"Culiacán", "Victoria de Durango":"Durango", "León de los Aldama":"León",
                        "Acapulco de Juárez": "Acapulco",
                        'Iztapalapa':"Ciudad de México", 'Gustavo A. Madero':"Ciudad de México", 
                         'Álvaro Obregón':"Ciudad de México", 'Coyoacán':"Ciudad de México",
       'Tlalpan':"Ciudad de México", 'Cuauhtémoc':"Ciudad de México", 'Venustiano Carranza':"Ciudad de México"},inplace=True)

In [141]:
hotel.columns

Index(['id', 'nom_estab', 'raz_social', 'codigo_act', 'nombre_act', 'per_ocu',
       'tipo_vial', 'nom_vial', 'tipo_v_e_1', 'nom_v_e_1', 'tipo_v_e_2',
       'nom_v_e_2', 'tipo_v_e_3', 'nom_v_e_3', 'numero_ext', 'letra_ext',
       'edificio', 'edificio_e', 'numero_int', 'letra_int', 'tipo_asent',
       'nomb_asent', 'tipoCenCom', 'nom_CenCom', 'num_local', 'cod_postal',
       'cve_ent', 'entidad', 'cve_mun', 'municipio', 'cve_loc', 'localidad',
       'ageb', 'manzana', 'telefono', 'correoelec', 'www', 'tipoUniEco',
       'latitud', 'longitud', 'fecha_alta'],
      dtype='object')

In [143]:
hotel.nombre_act.replace({'Campamentos y albergues recreativos':"hotel", 'Cabañas, villas y similares':"hotel",
       'Hoteles con otros servicios integrados':"hotel",
       'Departamentos y casas amueblados con servicios de hotelería':"hotel",'Hoteles sin otros servicios integrados':"hotel",
                         'Restaurantes con servicio de preparación de antojitos':"restaurante",
                         'Cafeterías, fuentes de sodas, neverías, refresquerías y similares':"restaurante",
       'Restaurantes con servicio de preparación de alimentos a la carta o de comida corrida':"restaurante",
                         }, inplace=True)

In [153]:
hotel[hotel.localidad=="Cuautla de Morelos"].nombre_act.unique()

array(['Promotores del sector público de espectáculos artísticos, culturales, deportivos y similares que cuentan con instalaciones para presentarlos',
       'Centros de acondicionamiento físico del sector público',
       'Casas de juegos electrónicos',
       'Promotores del sector privado de espectáculos artísticos, culturales, deportivos y similares que cuentan con instalaciones para presentarlos',
       'Otros servicios recreativos prestados por el sector privado',
       'Artistas, escritores y técnicos independientes', 'Billares',
       'Parques acuáticos y balnearios del sector privado',
       'Centros de acondicionamiento físico del sector privado',
       'Parques acuáticos y balnearios del sector público',
       'Venta de billetes de lotería, pronósticos deportivos y otros boletos de sorteo',
       'Grutas, parques naturales y otros sitios del patrimonio cultural de la nación',
       'Parques de diversiones y temáticos del sector privado',
       'Clubes o ligas de aficionados', 'Otros juegos de azar',
       'Museos del sector privado', 'Museos del sector público',
       'Otras compañías y grupos de espectáculos artísticos del sector privado',
       'Compañías de danza del sector privado'], dtype=object)

In [147]:
hotel_ciudades = hotel[hotel.localidad.isin(ciudades.ciudades) & (hotel.nombre_act.isin(["hotel", "restaurante"]))]

In [149]:
hotel_ciudades.groupby(["localidad", "nombre_act",], as_index=False).id.count()

                   localidad   nombre_act    id
0                     Cancún        hotel   200
1                     Cancún  restaurante  2008
2           Ciudad de México        hotel     1
3           Ciudad de México  restaurante    25
4                   Culiacán        hotel    76
5                   Culiacán  restaurante  1479
6                 Hermosillo        hotel    41
7                 Hermosillo  restaurante  1143
8          Heroica Matamoros        hotel    57
9          Heroica Matamoros  restaurante   746
10                  Mazatlán        hotel   179
11                  Mazatlán  restaurante   972
12                    Mérida        hotel   218
13                    Mérida  restaurante  2661
14                   Orizaba        hotel    49
15                   Orizaba  restaurante   873
16                   Reynosa        hotel    60
17                   Reynosa  restaurante   521
18           San Luis Potosí        hotel   104
19           San Luis Potosí  restaurante  2990
20     Santiago de Querétaro        hotel   130
21     Santiago de Querétaro  restaurante  2528
22                   Tampico        hotel    76
23                   Tampico  restaurante   837
24  Tlaxcala de Xicohténcatl        hotel    15
25  Tlaxcala de Xicohténcatl  restaurante   209
26                  Veracruz        hotel   198
27                  Veracruz  restaurante  2959
28              Villahermosa        hotel   106
29              Villahermosa  restaurante  1488
30           Xalapa-Enríquez        hotel    93
31           Xalapa-Enríquez  restaurante  1508

### Agencias de viaje

In [ ]:
agencias =

In [142]:
hotel.nombre_act.unique()

array(['Parques de diversiones y temáticos del sector privado',
       'Centros de acondicionamiento físico del sector privado',
       'Casas de juegos electrónicos',
       'Venta de billetes de lotería, pronósticos deportivos y otros boletos de sorteo',
       'Centros de acondicionamiento físico del sector público',
       'Otros servicios recreativos prestados por el sector privado',
       'Parques acuáticos y balnearios del sector privado',
       'Clubes o ligas de aficionados',
       'Equipos deportivos profesionales',
       'Promotores de espectáculos artísticos, culturales, deportivos y similares que no cuentan con instalaciones para presentarlos',
       'Clubes deportivos del sector público',
       'Promotores del sector público de espectáculos artísticos, culturales, deportivos y similares que cuentan con instalaciones para presentarlos',
       'Grupos musicales del sector público',
       'Cantantes y grupos musicales del sector privado', 'Billares',
       'Boliches', 'Clubes deportivos del sector privado',
       'Artistas, escritores y técnicos independientes',
       'Promotores del sector privado de espectáculos artísticos, culturales, deportivos y similares que cuentan con instalaciones para presentarlos',
       'Parques de diversiones y temáticos del sector público',
       'Deportistas profesionales', 'Campos de golf',
       'Otros juegos de azar', 'Compañías de danza del sector privado',
       'Museos del sector público', 'Museos del sector privado',
       'Compañías de teatro del sector público',
       'Otros servicios recreativos prestados por el sector público',
       'Compañías de teatro del sector privado',
       'Otras compañías y grupos de espectáculos artísticos del sector privado',
       'Jardines botánicos y zoológicos del sector privado',
       'Agentes y representantes de artistas, deportistas y similares',
       'Parques acuáticos y balnearios del sector público',
       'Marinas turísticas', 'Compañías de danza del sector público',
       'Grutas, parques naturales y otros sitios del patrimonio cultural de la nación',
       'Jardines botánicos y zoológicos del sector público',
       'Sitios históricos',
       'Restaurantes con servicio de preparación de antojitos',
       'Restaurantes con servicio de preparación de tacos y tortas',
       'Restaurantes que preparan otro tipo de alimentos para llevar',
       'Restaurantes de autoservicio',
       'Cafeterías, fuentes de sodas, neverías, refresquerías y similares',
       'Restaurantes con servicio de preparación de alimentos a la carta o de comida corrida',
       'Servicios de comedor para empresas e instituciones',
       'Restaurantes con servicio de preparación de pizzas, hamburguesas, hot dogs y pollos rostizados para llevar',
       'Bares, cantinas y similares',
       'Servicios de preparación de otros alimentos para consumo inmediato',
       'Moteles', 'Hoteles sin otros servicios integrados',
       'Restaurantes con servicio de preparación de pescados y mariscos',
       'Servicios de preparación de alimentos para ocasiones especiales',
       'Centros nocturnos, discotecas y similares',
       'Pensiones y casas de huéspedes',
       'Servicios de preparación de alimentos en unidades móviles',
       'Cabañas, villas y similares',
       'Hoteles con otros servicios integrados',
       'Departamentos y casas amueblados con servicios de hotelería',
       'Campamentos y albergues recreativos'], dtype=object)