In [2]:
import pandas as pd
import numpy as np

### Creamos el dataframe a trabajar

In [7]:
ciudades = pd.read_csv("../data/diccionarios/ciudades.csv")
display(ciudades.head())
print(ciudades.shape)

            estado          ciudades
0   Aguascalientes    Aguascalientes
1  Baja California           Tijuana
2  Baja California          Mexicali
3          Chiapas  Tuxtla Gutiérrez
4        Chihuahua     Ciudad Juárez

(41, 2)

In [33]:
ciudades.rename(columns={"ciudades":"ciudad"}, inplace=True)

In [37]:
ciudades.head()

            estado            ciudad
0   Aguascalientes    Aguascalientes
1  Baja California           Tijuana
2  Baja California          Mexicali
3          Chiapas  Tuxtla Gutiérrez
4        Chihuahua     Ciudad Juárez

### Museos

In [88]:
museo_dic = pd.read_csv("../data/diccionarios/museos.csv")
museo_dic.rename(columns={"museos":"museo"}, inplace=True)

In [89]:
museo_dic.head()

,museo,estado,ciudad
0,Museo Regional de Historia de Aguascalientes,Aguascalientes,Aguascalientes
1,Museo de la Revolución en la Frontera,Chihuahua,Ciudad Juárez
2,Museo Regional de la Laguna,Coahuila\n,Torreón
3,"Centro Comunitario Culhuacán, Ex Convento de S...",Ciudad de México,Ciudad de México
4,Galería de Historia,Ciudad de México,Ciudad de México

In [90]:
ciudad_museo = pd.merge(ciudades, museo_dic, on=["estado", "ciudad"], how="left")

### Datos Museos

In [130]:
def juntar(path, col):
    df = pd.read_csv(path)
    df = df[df[col[0]] !="Total Estado"]
    df = df[col+["clas_visitantes"]]
    df = df[~df.clas_visitantes.isin(["Total Visitantes"])]
    df.rename(columns={col[1]:"visitas"}, inplace=True)

    df_pivot = pd.pivot_table(df, values=["visitas"], index=[col[0]], 
               columns=["clas_visitantes"], aggfunc=np.sum).reset_index()
    
    df_pivot.columns = [col[0]]+["{}_internacionales".format(col[0]), "{}_nacionales".format(col[0])]
    return df_pivot

In [131]:
path_museos = "../data/processed/estado_museo_clas_anual.csv"
museos_pivot = juntar(path_museos, ["museo", "2019"])

In [132]:
museos_pivot.head()

,museo,museo_internacionales,museo_nacionales
0,Capilla Abierta de Tlalmanalco,0.0,14461.0
1,Capilla Abierta del Templo de Calimaya,4.0,8164.0
2,Casa de Hidalgo,2349.0,76602.0
3,Casa de la Palestina,0.0,0.0
4,Casa del Dean,1499.0,14519.0

In [133]:
ciudad_museo_join = pd.merge(ciudad_museo, museos_pivot, on=["museo"], how="left")

In [151]:
np.sum(ciudad_museo_join[["museo", "museo_internacionales"]].isna().sum(axis=1)==1)

0

### Zonas arqueologicas

In [155]:
zonas_dic = pd.read_csv("../data/diccionarios/zonas_arquelogicas.csv")
display(zonas_dic.head())

print(ciudad_zona.shape)
ciudad_zona = pd.merge(ciudades, zonas_dic, on=["estado", "ciudad"], how="left")
print(ciudad_zona.shape)

                      zona_arqueologica            estado            ciudad
0                  Z.A. de El Vallecito   Baja California           Tijuana
1                         Z.A. de Izapa           Chiapas  Tuxtla Gutiérrez
2          Z.A. de Cerro de la Estrella  Ciudad de México  Ciudad de México
3  Z.A. de Cuicuilco con museo de sitio  Ciudad de México  Ciudad de México
4                    Z. A. de Mixcoac1/  Ciudad de México  Ciudad de México

(51, 3)
(51, 3)

#### Data zonas_arquelogicas

In [156]:
paht_zonas = "../data/processed/estado_zonas_arqueologicas_clas_anual.csv"

zonas_pivot = juntar(paht_zonas, ["zona_arqueologica", "20191"])

In [157]:
ciudad_zona_junto = pd.merge(ciudad_zona, zonas_pivot, how="left", on="zona_arqueologica")

In [158]:
#### test zona
np.sum(ciudad_zona_junto[["zona_arqueologica", "zona_arqueologica_internacionales"]].isna().sum(axis=1)==1)

0

### Aeropuerto

In [ ]:
vuelos = pd.read_csv()