### Modificación del archivo ciudades.txt

In [1]:
import pandas as pd

In [27]:
ciudades = pd.read_table("../data/ciudades.txt", names=["ciudades"])
ciudades = ciudades.reset_index()["ciudades"].reset_index()
ciudades["ciudades"] = ciudades.ciudades.apply(lambda x: x.split(",")[0])

ciudades = ciudades["ciudades"].reset_index()
ciudades.to_csv("../data/ciudades.csv", index=False)

## Creación de las variables para todas las ciudades

In [1]:
import pandas as pd

In [2]:
ciudades = pd.read_csv("../data/ciudades.csv")

In [8]:
pd.merge(ciudades, ciudades, on="estado", how="left")

             estado       ciudades_x       ciudades_y
0    Aguascalientes   Aguascalientes   Aguascalientes
1   Baja California          Tijuana          Tijuana
2   Baja California          Tijuana         Mexicali
3   Baja California         Mexicali          Tijuana
4   Baja California         Mexicali         Mexicali
..              ...              ...              ...
72         Veracruz  Xalapa-Enríquez          Orizaba
73         Veracruz          Orizaba         Veracruz
74         Veracruz          Orizaba  Xalapa-Enríquez
75         Veracruz          Orizaba          Orizaba
76          Yucatán           Mérida           Mérida

[77 rows x 3 columns]