In [1]:
import pandas as pd
import numpy as np

In [5]:
origen = pd.read_csv("../data/processed/origen_destino_pasajeros.csv")

In [6]:
origen

,Origen,Destino,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Acapulco,Total,502483,478023,594812,428646,369129,363400,342320,349129,...,280113,238888,237374,280182,289492,341824,336813,318118,334546,409396
1,Acapulco,Aguascalientes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Acapulco,Cancún,749,1297,723,1551,3514,5196,3605,1154,...,0,0,147,0,0,68,0,0,0,3738
3,Acapulco,Celaya,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Acapulco,Chihuahua,0,0,0,0,519,0,0,141,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6823,Zihuatanejo,Windsor,0,0,0,0,0,0,0,0,...,0,0,0,0,0,159,0,0,0,0
6824,Zihuatanejo,Winnipeg,1336,112,1361,0,0,122,9,1166,...,0,0,0,0,75,1465,2630,2580,2596,2400
6825,Zúrich,Total,0,705,1518,0,0,0,0,99,...,6214,7021,6306,5470,1551,0,0,18897,34968,39228
6826,Zúrich,Cancún,0,705,1518,0,0,0,0,0,...,6214,7021,6306,5470,1551,0,0,18897,34968,39228
6827,Zúrich,Madrid-Barajas,0,0,0,0,0,0,0,99,...,0,0,0,0,0,0,0,0,0,0